@font-face {
	font-family: 'CJ-UNI';
	src: url('../fonts/Cangjie-UNI-0.ttf') format('truetype');
}
@font-face {
	font-family: 'CJ-UNI-EXT';
	src: url('../fonts/Cangjie-UNI-1.ttf') format('truetype');
}
@font-face {
	font-family: 'CJ-UNI-EXT2';
	src: url('../fonts/Cangjie-UNI-2.ttf') format('truetype');
}
@font-face {
	font-family: 'TW-KAI';
	src: url('../fonts/TW-Kai_Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'TW-KAI-EXT';
	src: url('../fonts/TW-Kai-Ext-B-98.ttf') format('truetype');
}
body {
	font-family: 'CJ-UNI', 'CJ-UNI-EXT', 'CJ-UNI-EXT2';
}
.preface {
	font-family: 'TW-KAI', 'TW-KAI-EXT';
}
