@font-face {
	font-family: 'CAN-CD';
	src: url('../../gw3942040.ttf') format('truetype');
}
@font-face {
	font-family: 'CAN-XN';
	src: url('../../gw3931610.ttf') format('truetype');
}
@font-face {
	font-family: 'TW-KAI';
	src: url('../../TW-Kai_Regular.ttf') format('truetype');
}
body {
	font-family: 'CAN-CD', 'CAN-XN';
}
p {
	font-family: 'CAN-XN';
	font-size: 18.0pt;
}
.preface {
	font-family: 'TW-KAI';
}
.zipang_indent {
	margin-left: 1em;
}
.zifan_indent {
	margin-left: 2em;
}
.zidef_indent {
	margin-left: 4em;
}
.ci_indent {
	margin-left: 5em;
}
.cidef_indent {
	margin-left: 6em;
}
.ciyin_indent {
	margin-left: 7.5em;
}
.yin_spacer {
	font-size: 10.0pt;
	width: 5em;
}
