@font-face {
	font-family: 'CAN-CD';
	src: url('../../gw3942040.ttf') format('truetype');
}
@font-face {
	font-family: 'CAN-XN';
	src: url('../../gw3931610.ttf') format('truetype');
}
@font-face {
	font-family: 'TW-KAI';
	src: url('../../TW-Kai_Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'TW-KAI-EXT';
	src: url('../../TW-Kai-Ext-B-98.ttf') format('truetype');
}
body {
	font-family: 'CAN-CD', 'CAN-XN';
	writing-mode: vertical-rl;
}
p {
	font-size: 18.0pt;
	margin-top: 5%;
}
.unvert {
	writing-mode: horizontal-tb;
}
.forceside {
	text-orientation: sideways;
}
.preface {
	font-family: 'TW-KAI', 'TW-KAI-EXT';
}
