@font-face {
	font-family: 'CAN-CD';
	src: url('../../gw3942025.ttf') format('truetype');
}
@font-face {
	font-family: 'CAN-XN';
	src: url('../../gw3931610.ttf') format('truetype');
}
body {
	font-family: 'CAN-CD', 'CAN-XN';
	writing-mode: vertical-rl;
}
