@font-face {
	font-family: 'SHS-XN';
	src: url('../../SourceHanSansXN-Regular.woff') format('woff');
}
@font-face {
	font-family: 'TAI-TC';
	src: url('../../TaipeiSansTCBeta-Regular.ttf') format('truetype');
}
body {
	padding-right: 50px;
	padding-left: 50px;
	font-family: 'SHS-XN';
}
p.zi {
	font-size: 1.5em;
}
p.tc {
	font-family: 'TAI-TC';
	line-height: 1.2;
}
