@font-face {
	font-family: 'SHS-KL';
	src: url('../fonts/SourceHanSansKL-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'HAN-DT';
	src: url('../fonts/HANDotum-LVT.ttf') format('truetype');
}
body {
	padding-right: 50px;
	padding-left: 50px;
	font-family: 'SHS-KL';
}
textarea {
	font-family: 'SHS-KL';
}
input[type=text] {
	font-family: 'SHS-KL';
}
.zi {
	font-size: 1.5em;
}
.hg {
	font-family: 'HAN-DT';
	line-height: 1.4;
}
