@font-face {
	font-family: 'SHS-XN';
	src: url('../fonts/SourceHanSansXN-Regular.woff') format('woff');
}
@font-face {
	font-family: 'TAI-TC';
	src: url('../fonts/TaipeiSansTCBeta-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'HAN-DT';
	src: url('../fonts/HANDotum-LVT.ttf') format('truetype');
}
body {
	padding-right: 50px;
	padding-left: 50px;
	font-family: 'SHS-XN';
}
.zi {
	font-size: 1.5em;
}
.tc {
	font-family: 'TAI-TC';
	line-height: 1.4;
}
.hg {
	font-family: 'HAN-DT';
	line-height: 1.4;
}
