.webgames {
  width: 100%;
}

.game {
  padding: 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  align-items: start;
  margin-bottom: 32px;
}

.personal-left h2 {
  font-size: 36px;
  margin-bottom: 32px;
}

.personal-right img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}